//-----------------------------------------
//  COLORS
//-----------------------------------------

$white: rgba(252,252,252,1.0);
$off-white: rgba(248,248,249,1.0);
$black: rgba(3,3,4,1.0);

$link-color: rgba(255,255,255,1.0);

