<fa-modifier fa-size="grid.size">
<fa-modifier fa-translate="scroller.position.get()" fa-pipe-to="scroller.sync">
  <fa-grid-layout fa-options="grid.options">
    <fa-modifier ng-repeat="photo in collection track by $index" fa-size="photoMeta.size" fa-translate="[0,0,0]" >
    <fa-view fa-index="$index">
      <fa-surface class="photo-grid-item" >
        <img src="{{photo.images[0].url}}" class="photo-image">
      </fa-surface>
    </fa-view>
    </fa-modifier>
  </fa-grid-layout>
</fa-modifier>
</fa-modifier>