
<fa-modifier fa-size="content.section.size" fa-translate="content.section.position">
  <fa-container-surface class="mh-onboard-controller">
  <fa-modifier fa-translate="[0,0,0]" fa-size="content.canvas.size">
    <fa-surface class="background-canvas" fa-size="content.canvas.size"></fa-surface>
  </fa-modifier>
  <fa-modifier fa-translate="[0,0,-1000]">
  <fa-modifier fa-origin="[0.5,0.5]" fa-align="[0.0,0.0]"  fa-scale="[20.0,20.0]">

  <fa-surface fa-background-color="'rgba(3,3,4,0.0)'"></fa-surface>
  </fa-modifier>
  </fa-modifier>

  <fa-view ng-repeat="vignette in vignettes track by $index">
    <fa-modifier fa-scale="content.section.elements.copy.scale"
        fa-align="content.section.elements.copy.align"
       fa-origin="content.section.elements.copy.origin">
    <fa-modifier
    fa-size="content.section.elements.copy.size"
    fa-align="content.section.elements.copy.align"
    fa-origin="content.section.elements.copy.origin"
    fa-transform="p[$index].get()"
    fa-opacity="c[$index].get()">
      <fa-surface class="headline headline-{{$index}}" >
      <h1>{{vignette.headline.text}}</h1>
      <h3 ng-bind-html="vignette.subheadline.text" class="subheadline subheadline-{{$index}}"></h3>
      <p ng-bind-html="vignette.copy.text" class="copy copy-{{$index}}" ></p>
      </fa-surface>
    </fa-modifier>
    </fa-modifier>

    <!-- different image content per $index -->

    <fa-modifier ng-repeat="element in vignette.elements track by $index"
    fa-origin="[0.5,0.5]"
    fa-align="content.section.elements.fore.align[$index]"
    fa-size="element.size"
    fa-transform="p[$parent.$parent.$index].get()"
    fa-opacity="c[$parent.$parent.$index].get()">
    <fa-modifier
      fa-origin="[0.5,0.5]"
      fa-align="content.section.elements.fore.align[$index]"
      fa-scale="content.section.elements.fore.scale[$index]">
      <fa-surface class="image" ng-class="{user: element.src==='assets/crop-avatar-square-1024.jpg'}">
        <div class="image-actual">
        <a href="{{element.url}}" target="_blank"><img ng-src="{{element.src}}"></a>
        <h5>{{element.subheadline}}</h5>
        <p>{{element.caption}}</p>
        </div>
      </fa-surface>
    </fa-modifier>
    </fa-modifier>


    <!-- $background
    <fa-modifier fa-transform="p[$index].get()"  fa-opacity="op[$index].get()">
      <fa-modifier ng-repeat="image in vignette.images"
      fa-translate="image.position"
      fa-align="image.align"
      fa-origin="[0.5,0.5]"
      fa-scale="[0.85,0.85]"
      fa-opacity="o[$parent.$parent.$index][$index].get()"
      fa-size="content.section.icons.size">
        <fa-surface class="ob-bg-surface"><div class="ob-icon {{image.name}}"></div></fa-surface>
      </fa-modifier>
    </fa-modifier>-->
  </fa-view>

  <!-- nav -->
  <fa-modifier fa-size="[16,60]" fa-align="[0.99,0.49]" fa-origin="[1.0,0.5]" fa-opacity="0.3">
    <fa-surface class="dot-nav-container">
    <ul class="dot-nav vert">
      <li class="dot active"><!--<div class="label">Welcome</div>--></li>
      <li class="dot"><!--<div class="label">Discover</div>--></li>
      <li class="dot"><!--<div class="label">Collect</div>--></li>
      <li class="dot"><!--<div class="label">Share</div>--></li>
      <li class="dot"><!--<div class="label">Follow</div>--></li>
      <li class="dot"><!--<div class="label">Follow</div>--></li>
      <li class="dot"><!--<div class="label">Follow</div>--></li>
    </ul>
    </fa-surface>
  </fa-modifier>


  <fa-modifier
    fa-align="[0.5,0.95]"
    fa-origin="[0.5,0.5]"
    fa-size="[48,48]"
    fa-rotate-z="content.section.scrollButton.rotate">
    <fa-surface ng-show="masterIndex !== 4" ng-click="nextVignette()" class="scroll-up" >
      <img src="assets/arrow-down.png" width="48" height="48">
    </fa-surface>
  </fa-modifier>

  <fa-modifier
    fa-align="[0.9,0.5]"
    fa-origin="[0.5,0.5]"
    fa-size="[64,64]"
    fa-rotate-z="content.section.forwardButton.rotate"
    fa-opacity="content.section.backButton.display">
    <fa-surface class="scroll-right" ng-show="masterIndex === 4" ng-mousedown="moveFollowersForward()" ng-mouseup="endMoveFollowers()" fa-touchend="pageFollowersForward()">
    </fa-surface>
  </fa-modifier>

  <fa-modifier
    fa-align="[0.1,0.5]"
    fa-origin="[0.5,0.5]"
    fa-size="[64,64]"
    fa-rotate-z="content.section.backButton.rotate"
    fa-opacity="content.section.backButton.display">
    <fa-surface class="scroll-left" ng-show="masterIndex === 4" ng-mousedown="moveFollowersBack()" ng-mouseup="endMoveFollowers()" fa-touchend="pageFollowersBack()">
    </fa-surface>
  </fa-modifier>

  </fa-container-surface>
<fa-modifier>
