
<fa-modifier fa-size="content.section.size" fa-translate="content.section.position">
  <fa-container-surface class="section-controller">

  <fa-modifier fa-translate="[0,0,0]" fa-size="content.canvas.size" fa-opacity="canvasOpacity">
    <fa-surface class="background-canvas" fa-size="content.canvas.size"></fa-surface>
  </fa-modifier>


  <fa-modifier fa-translate="[0,0,-1000]">
    <fa-modifier fa-origin="[0.5,0.5]" fa-align="[0.0,0.0]"  fa-scale="[20.0,20.0]">
      <fa-surface fa-background-color="'rgba(0,0,0,0.0)'"></fa-surface>
    </fa-modifier>
  </fa-modifier>

  </fa-container-surface>
<fa-modifier>
